.App {
  text-align: center;
  font-family: "Gill Sans Extrabold", Helvetica, sans-serif;
  color:#04764c;
  background-color:whitesmoke;

}

.App-logo {
  height: 20vmin;
  
}


.App-header {
  background-color:  #04764c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(5px + 2vmin);
  color: white;
  
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.menuprincipal {
  background-color: #26196d;
  color: white;
  list-style-type:none;
  width: 15%;
  padding: 20px;
  font-size: calc(10px + 2vmin);
  text-decoration: underline;
  border-radius: 20%;
  
     
}
a:hover {
  background-color: rgb(255, 255, 255);
}

form {
  /* Centrar el formulario en la página */
  margin: 0 auto;
  width: 400px;
  /* Esquema del formulario */
  padding: 1em;
  border: 5px solid whitesmoke;
  border-radius: 1em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 1em;
}

label {
  display: inline-block;
  width: 100px;
  text-align: center;
}

input,
textarea {
 font: 1em "Gill Sans Extrabold", Helvetica, sans-serif;
  width: 300px;
  box-sizing: border-box;
  border: 2px solid #7e7c7c;
  border-radius: 5px;
  
}

input:focus,
textarea:focus {
  border-color: #000;
  white-space: pre;
}

textarea {
  vertical-align: top;
  height: 5em;
}

.button {
  padding-left: 90px; 
  margin-left: 0.5em;
  }

.encuestas{
  text-align:center;

}
h3{
color: whitesmoke;
}





  
  
  
  
  
  

